@page
@model CyclingResults.Pages.IndexModel
@{
    Layout = "_Layout";
}

<noscript>
    <strong>We're sorry but web-client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="/js/chunk-vendors.js"></script>
<script type="text/javascript" src="/js/app.js"></script>